[submodule "learn-tex"]
	path = learn-tex
	url = git@github.com:abpwrs/learn-tex.git
[submodule "learn-sympy"]
	path = learn-sympy
	url = git@github.com:abpwrs/learn-sympy.git
[submodule "learn-rabbitmq"]
	path = learn-rabbitmq
	url = git@github.com:abpwrs/learn-rabbitmq.git
[submodule "learn-python-logging"]
	path = learn-python-logging
	url = git@github.com:abpwrs/learn-python-logging.git
[submodule "learn-gto"]
	path = learn-gto
	url = git@github.com:abpwrs/learn-gto.git
[submodule "learn-go"]
	path = learn-go
	url = git@github.com:abpwrs/learn-go.git
[submodule "learn-rust"]
	path = learn-rust
	url = git@github.com:abpwrs/learn-rust.git
[submodule "learn-dvc-monorepo"]
	path = learn-dvc-monorepo
	url = git@github.com:abpwrs/learn-dvc-monorepo.git
[submodule "learn-k8s"]
	path = learn-k8s
	url = git@github.com:abpwrs/learn-k8s.git
[submodule "learn-kubeflow"]
	path = learn-kubeflow
	url = git@github.com:abpwrs/learn-kubeflow.git
[submodule "learn-knative"]
	path = learn-knative
	url = git@github.com:abpwrs/learn-knative.git
[submodule "learn-kafka"]
	path = learn-kafka
	url = git@github.com:abpwrs/learn-kafka.git
